.nav-container {
  display: flex;
  background-color: rgb(66, 66, 66);
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
  padding: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  display: block;
}

nav ul li:hover {
  background-color: rgb(80, 80, 80);
}
