.crypto-card {
  background-color: rgb(66, 66, 66);
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.crypto-card:hover {
  background-color: rgb(80, 80, 80);
  /* cursor: pointer; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.crypto-card-image {
  display: flex;
  justify-content: center;
}

.responsive-image {
  width: 100px;
  height: auto;
  display: block;
}

.crypto-card-title {
  color: rgb(225, 225, 225);
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

span {
  color: rgb(225, 225, 225);
  font-weight: bold;
  font-size: 17px;
}

.crypto-card-ticker-symbol,
.crypto-card-current-price,
.crypto-card-market-cap,
.crypto-card-volume,
.crypto-card-change {
  color: rgb(225, 225, 225);
  text-align: center;
  line-height: 1.5;
}

.crypto-card-heart-icon {
  padding: 10px 0px;
  /* background-color: white; */
  width: 50px;
  text-align: center;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.crypto-card-heart-icon:hover {
  cursor: pointer;
  border-color: #646cff;
}

.fa-heart {
  font-size: 20px;
  color: white;
}

/* Mobile Sized Screens */
@media only screen and (max-width: 768px) {
  .responsive-image {
    width: 80px;
    height: auto;
    display: block;
  }

  .crypto-card-image {
    display: flex;
    justify-content: center;
  }
}
