body {
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  align-items: baseline;
}

header i.fa-bars {
  display: none;
}

main {
  display: flex;
  flex-direction: row;
}

.desktop-sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  box-sizing: border-box;
  max-width: 200px;
  max-height: 100%;
  flex: 1;
}

.mobile-sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  box-sizing: border-box;
  max-width: 200px;
  max-height: 100%;
  flex: 1;
  display: none;
}

.mobile-sidebar a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.desktop-sidebar a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.desktop-sidebar a:hover,
.mobile-sidebar a:hover {
  background-color: #cac5c5;
}

.main-content {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  flex: 3;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-gallery-cards {
  display: flex;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.image-card {
  background-color: #333;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 10px;
  width: 30%;
}

.responsive-image {
  width: 400px;
  /* height: 400px; */
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-card-title {
  color: white;
  max-width: 60%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  /* margin-left: 90px; */
}

h2 {
  padding-left: 60px;
  font-size: 30px;
}

.pricing-table-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: #f4f4f4;
  margin: 10px;
  border-radius: 10px;
  width: 30%;
  padding: 20px 10px;
}

.pricing-card-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.pricing-card-price {
  font-size: 30px;
  padding-top: 10px;
}

.pricing-card-title,
.pricing-card-price,
.pricing-card-details {
  /* max-width: 60%; */
  max-width: 100%;
  height: auto;
  display: block;
}

/* Display the hamburger menu icon on screen sizes under 993px */
@media screen and (max-width: 993px) {
  header i.fa-bars {
    display: block;
    font-size: 26px;
    margin-right: 10px;
  }

  .desktop-sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: none;
  }
}

/* Display hamburger menu icon for the desktop on screen sizes larger than 994px*/
@media screen and (min-width: 994px) {
  .desktop-sidebar {
    display: block;
  }

  .mobile-sidebar {
    display: none;
  }
}

/* Mobile Menu Styles */
@media only screen and (max-width: 768px) {
  .mobile-sidebar {
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    max-width: 200px;
    max-height: 100%;
    flex: 1;
    display: block;
  }

  .mobile-sidebar a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

  .desktop-sidebar {
    display: none;
  }

  .pricing-table-cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    width: 90%;
    padding: 15px 5px;
  }

  .pricing-card-title {
    font-size: 30px;
  }

  .pricing-card-price {
    font-size: 20px;
  }

  .pricing-card-details ul li {
    font-size: 14px;
  }
}
